*{
    margin: 0;
}


.box{
    display: inline-block;
}

.img{
    height:200px;
    width:auto;
    border-radius: 20px;
}


.restaurantName{
    font-size: 20px;
    font-weight: bold;
}

.card{
    display: inline-block;
}
.restaurant{
    position: relative;
}

.rating{
    background-color: green;
    position: absolute;
    right: 5px;
}