.card{
    width:30vw;
    height: 30vh;
    background-color: aqua;
    border:5px green solid;
    padding:10px;
    margin:20px 20px 20px 35vw;
}

h2,p,h3{
    color:green;
    text-align: center;
}

body{
    background-color: antiquewhite;
}

.card:hover{
    background-color: pink;
    transform:scale(1.2);
}